*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.a{
    background-color: rgba(24, 23, 22, 0.945);
    width: 100%;
    
}
.h{
    color: rgb(156, 14, 212);
    text-align: center;
    font-size: 100px;
}
.e{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: .7rem;
}
.i
{
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}